<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">

  <ul class="sidebar-menu">
    <li class="active"> <a href="http://attendance.gov.in/"> <i class="fa fa-dashboard"></i> <span>Dashboard</span> </a></li>
    <li><a href="http://attendance.gov.in/register/organization"><i class="fa ion-ios7-briefcase"></i> Organization Registration</a></li>

    <li class="treeview"> <a href="#"> <i class="fa fa-users"></i> <span>Employee Corner</span> <i class="fa fa-angle-left pull-right"></i> </a>
      <ul class="treeview-menu">
        <li><a href="http://attendance.gov.in/register/employee"> <i class="fa fa-angle-double-right"></i> <span> Registration</span> </a> </li>
        <li><a href="http://attendance.gov.in/search/employee"><i class="fa fa-angle-double-right"></i> Search Employee</a></li>
        <li><a href="http://attendance.gov.in/update/employee"><i class="fa fa-angle-double-right"></i> Employee Login</a></li>

      </ul>
    </li>

    <li class="treeview"> <a href="#"> <i class="fa fa-tablet"></i> <span>Reports</span> <i class="fa fa-angle-left pull-right"></i> </a>
      <ul class="treeview-menu">
        <li><a href="http://attendance.gov.in/reports/regemp"> <i class="fa fa-angle-double-right"></i> <span> Registered Employee</span> </a> </li>
        <li><a href="http://attendance.gov.in/reports/activeuser"><i class="fa fa-angle-double-right"></i> Present Today</a></li>
        <li><a href="http://attendance.gov.in/reports/device"><i class="fa fa-angle-double-right"></i> Device</a></li>

      </ul>
    </li>

    <li>
      <a href="http://attendance.gov.in/login">
        <i class="fa fa-unlock"></i> <span>Login </span>
      </a>
    </li>


    <li class="treeview"> <a href="http://attendance.gov.in/faq"> <i class="fa fa ion-help"></i> <span>FAQ</span> <i class="fa fa-angle-left pull-right"></i> </a>
      <ul class="treeview-menu">
        <li><a href="http://attendance.gov.in/faq/public_faq"><i class="fa fa-angle-double-right"></i> General Questions</a></li>
        <li><a href="http://attendance.gov.in/faq/attendance_faq"><i class="fa fa-angle-double-right"></i> How to Mark Attendance</a></li>
        <li><a href="http://attendance.gov.in/assets/doc/Handout_for_using_Common_Biometric_Attendnace_System.pdf"><i class="fa fa-angle-double-right"></i> Guidelines for Phase II</a></li>
        <li><a href="http://attendance.gov.in/assets/doc/Process_to_add_device_nd_admin.pdf"><i class="fa fa-angle-double-right"></i> Process to Activate Device </a></li>

      </ul>
    </li>

  </ul>

  <!-- search form -->
  <!--  <form action="#" method="get" class="sidebar-form">
       <div class="input-group">
           <input type="text" name="q" class="form-control" placeholder="Find your Organization..."/>
           <span class="input-group-btn">
               <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
           </span>
       </div>
   </form> -->
  <!-- /.search form -->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55590659-1', 'auto');
    ga('send', 'pageview');

  </script>



</section>
<!-- /.sidebar -->
