@import "../../../bower_components/animate.scss/animate";

.led {
//  margin: 20px auto;
  margin:0 5px;
  display:inline-block;

  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: #000 0 -1px 6px 1px;
}

.led-red {
  background-color: #F00;
  box-shadow: #000 0 -1px 6px 1px, inset #600 0 -1px 8px, #F00 0 3px 11px;
}

.led-orange {
  background-color: #FF7000;
  box-shadow: #000 0 -1px 6px 1px, inset #630 0 -1px 8px, #FF7000 0 3px 11px;
}

.led-yellow {
  background-color: #FF0;
  box-shadow: #000 0 -1px 6px 1px, inset #660 0 -1px 8px, #FF0 0 3px 11px;
}

.led-green {
  background-color: #80FF00;
  box-shadow: #000 0 -1px 6px 1px, inset #460 0 -1px 8px, #80FF00 0 3px 11px;
}

.led-blue {
  background-color: #06F;
  box-shadow: #000 0 -1px 6px 1px, inset #006 0 -1px 8px, #06F 0 3px 11px;
}

@mixin blink($color: #F00, $duration: $global-duration, $function: $global-function, $delay: $global-delay, $count: $global-count, $fill: $global-fill, $visibility: $global-visibility) {
  @include animation(blink+'_'+$color $duration $function $delay $count $fill);
  @include visibility($visibility);

  @at-root {
    @include keyframes(blink+'_'+$color) {
      0% {
        background-color: $color;
        box-shadow: #000 0 -1px 6px 1px, inset darken($color, 30%)  0 -1px 8px, $color 0 3px 11px;
      }
      50% {
        background-color: rgba(255, 255, 255, 0.25);
        box-shadow: #000 0 -1px 6px 1px;
      }
      100% {
        background-color: $color;
        box-shadow: #000 0 -1px 6px 1px, inset darken($color, 30%) 0 -1px 8px, $color 0 3px 11px;
      }
    }
  }
}

.led-yellow-blink {
  @include blink($color: yellow, $duration: 1000ms, $count:infinite);
}

//.led-red-blink {
//  @include blink($color: Red, $duration: 1500ms, $count:infinite);
//}

//.led-orange-blink {
//  @include blink($color: DarkOrange, $duration: 1500ms, $count:infinite);
//}
